/* Body style */
html, body {
    background: #DCDCDC;
}

/* GIF container style */
p {
    margin-bottom: 0px;
    margin-top: 10px;
}

img {
    width: 100%;
}

.run-api {
    margin: 5px;
    background: #3CB371;
    color: #ffffff;
}

/* Form style */
form {
    padding: 5px;
}

.btn {
    background: #3CB371;
    border: none;    
}